:root {
    --primary-color: #007bff;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --error-color: #ff0000; /* Example for errors */
}

.search-input:focus {
    border-color: var(--primary-color);
}

.event-card .event-date {
    color: var(--primary-color);
}

.kalandarium-page {
  font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/covers/hero-img-4000x2500.png') no-repeat center center;
  background-size: cover;
  color: #fff;

  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Events Section */
.events-section {
    background-color: var(--secondary-color);
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

/* Search Bar */
.search-input {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px;
  padding: 15px;
  font-size: 1.2rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
}

/* Loading & Error Text */
.loading-text,
.error-text,
.no-events-text {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 0;
  color: #666;
}

/* Event Cards */
.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.event-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 1rem;
  color: #666;
}

.event-card .event-date {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 15px;
}



@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 2rem;
    }

    .search-input {
        font-size: 1rem;
    }
}